[run]
source = monitor,watcher
omit =
    */migrations/*
    */tests/*
    */.venv/*
    */settings.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError

[xml]
output = coverage.xml
